@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes time {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes time {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  line-height: 1.7;
}

.background-container--day {
  overflow: hidden;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -5;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/desktop/bg-image-daytime.jpg);
}
@media (max-width: 56.25em) {
  .background-container--day {
    overflow: hidden;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -5;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/tablet/bg-image-daytime.jpg);
  }
}
@media (max-width: 37.5em) {
  .background-container--day {
    overflow: hidden;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -5;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/mobile/bg-image-daytime.jpg);
  }
}

.background-container--dark {
  overflow: hidden;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -5;
  background-image: url(../assets/desktop/bg-image-nighttime.jpg);
}
@media (max-width: 56.25em) {
  .background-container--dark {
    overflow: hidden;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -5;
    background-image: url(../assets/tablet/bg-image-nighttime.jpg);
  }
}
@media (max-width: 37.5em) {
  .background-container--dark {
    overflow: hidden;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -5;
    background-image: url(../assets/mobile/bg-image-nighttime.jpg);
  }
}

.quote-container {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: #fff;
  margin: 0 10rem;
  padding-top: 5rem;
}

.quote {
  display: flex;
  align-items: center;
  transition: all ease-in-out 0.2s;
}
.quote--p {
  line-height: 1.4;
  margin-right: 1rem;
}
.quote--svg {
  cursor: pointer;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.quote-author {
  margin: 0 5rem;
}
.clock-container {
  display: flex;
  flex-direction: column;
  margin: 30rem 10rem 0 10rem;
}

.clock-intro {
  display: flex;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.clock-intro--sun {
  margin-right: 1rem;
}
.clock-intro--moon {
  display: none;
  margin-right: 1rem;
}
.clock {
  display: flex;
  align-items: center;
  line-height: 1.2;
  color: #fff;
  margin-top: auto;
}
.clock--time {
  font-size: 15rem;
}
.clock--zone {
  margin-top: 7rem;
  font-weight: 100;
  font-size: 3rem;
}

.time--divider {
  -webkit-animation-name: time;
          animation-name: time;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.location {
  display: flex;
  color: #fff;
  text-transform: uppercase;
  justify-content: space-between;
  margin: 0 2rem;
}
.location--text {
  font-size: 2rem;
  font-weight: 100;
}

.showMore {
  border-radius: 5rem;
  height: 3rem;
  height: 7rem;
  width: 15rem;
  cursor: pointer;
  text-align: left;
  padding-left: 1rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  border: none;
  outline: none;
}

.more-deactive {
  bottom: 40%;
}

.more--active {
  position: -webkit-sticky;
  position: sticky;
  overflow: hidden;
  bottom: 0.5%;
  height: 40rem;
  background-color: rgba(218, 218, 218, 0.9);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-around;
}

.more--timezone {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.more--title {
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
  margin-top: 5rem;
  color: rgba(55, 55, 55, 0.7);
}

.more--info {
  font-size: 5rem;
}

.more--week {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  border-left: 0.3rem solid rgba(62, 62, 62, 0.2);
  padding-left: 20rem;
}/*# sourceMappingURL=main.css.map */